page-product-list {
  h2 {
    font-size: 1.2em;
    font-weight: 300;
    color: #289489;
  }

  h3 {
    font-weight: 400;
    color: #868686;
  }

  img {
    padding: 5px;
  }

  .product-list {
    &-button {
      &.camera {
        background-color: #2bb0a5;
      }
      &.stock {
        background-color: #289489;
      }

      .button-icon-only .ion-icon {
        padding: 0 .9em;
      }

      .button-inner {
        padding-left: 5px;
        padding-right: 5px;
        font-size: 2rem;
      }
    }
  }
}
