<ion-header>
  <ion-navbar>
    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{product.name}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="product-detail">
  <h1>{{product.name}}</h1>
  <h3>{{product.priceInfo?.price?.formatted}}</h3>
  <div class="product-detail-stock">
    <h4>Stock level</h4>
    <div class="stock-level"> {{product.stocklevel}}</div>
    <div class="update-button">
      <button id="down" (click)="updateStocklevel($event, -1)">-1</button>
      <button id="up" (click)="updateStocklevel($event, +1)">+1</button>
    </div>
    <h4>Product images</h4>
    <ion-slides class="slides-wrapper" pager *ngIf="images.length > 0">
      <ion-slide *ngFor="let image of images">
        <img src="{{image.url}}" />
        <ion-badge active *ngIf="image.active">active</ion-badge>
      </ion-slide>
    </ion-slides>
    <div class="product-detail-button-wrapper">
      <button class="product-detail-button" (click)="addPicture()" *ngIf="uploadProgress === 0">Make a picture</button>
    </div>
  </div>
</ion-content>
