page-tutorial {

  .bar-button {
    padding: 0 15px;
    color: #fff;
  }
  .swiper-container {
    background: #DB3A4B;
  }

  .swiper-pagination-bullet {
    background: #fff;
  }
  .slide-zoom {
    height: 100%;
  }

  .slide-title {
    color: #fff;
    margin-top: 1.8rem;
  }

  .slide-image {
    max-height: 50%;
    max-width: 60%;
    margin: 20px 0 20px 0;
  }

  .slide-image-last {
    max-height: 50%;
    max-width: 60%;
    margin: 20px 0 50px 0;
  }

  b {
    font-weight: 500;
  }

  p {
    padding: 0 40px;
    font-size: 1.5rem;
    line-height: 2rem;
    color: #fff;
  }
}

.header {
  &::after {
    background-image: none;
  }
}

.header-ios .toolbar-background-ios {
  border-color: transparent;
}
