<ion-header>
  <ion-navbar color="tutorial">
      <ion-buttons end *ngIf="showSkip">
          <button ion-button (click)="startApp()" color="light">Skip</button>
      </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-slides pager (slideChangeStart)="onSlideChangeStart($event)">
        <ion-slide *ngFor="let slide of slides">
            <img [src]="slide.image" class="slide-image"/>
            <h2 class="slide-title" [innerHTML]="slide.title"></h2>
            <p [innerHTML]="slide.description"></p>
        </ion-slide>
        <ion-slide>
            <img src="assets/img/ready.png" class="slide-image-last"/>
            <h2 class="slide-title">Ready to Play?</h2>
            <button color="light" ion-button icon-right large clear (click)="startApp()">
                Continue
                <ion-icon name="arrow-forward"></ion-icon>
            </button>
        </ion-slide>
    </ion-slides>
</ion-content>
